/* COMMON */

body{
    font-family: 'Nanum Gothic', sans-serif;
    height: 5000px;

    background-color: #fff;
}

a{
    display: block;
    width: 100px;
    height: 100px;

    margin: 24.15px;
}

a div{

    width: 100px;
    height: 100px;

    border-radius: 10px;

    position: absolute;
    
}

/* TOOLTIP */

.tooltip{

    position: relative;
    display: block;

}

.tooltip .tooltip_t{

    width: 90px;
    
    background-color: rgb(12, 83, 12);
    opacity: 0;
    color: #fff;
    
    text-align: center;
    
    border-radius: 5px;
    z-index: 1;

    transition: transform 0.1s, opacity 0.4s;

}

.tooltip:hover .tooltip_t{

    opacity: 0.8;

    transition: transform 0.1s, opacity 1.4s;

}

.tooltip .tooltip_up {
    position: absolute;

    bottom: -25px;
    left: 5px;
}

/* HEADER */

.header{
    width: 100%;
    height: 120px;
    background-color: #8d8d8d;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 900;
}

.header .title{
    font-size: 50px;
    font-weight: 900;

    color: #fff;

    position: relative;
    left: 62%;
    top: 40%;
}

/* MAIN-BLOCK */

.main-block{
    position: relative;

    display: flex;

    flex-wrap: wrap;

    width: 900px;
    height: 3000px;
    
    box-sizing: border-box;

    margin: 120px auto 0 auto;
    padding: 10px 5px;
}

.line{

    display: flex;
    flex-wrap: wrap;

}

/* CALCULATOR */

.main-block .calcul{

    border: solid 1px green;
    background-color: #fff;

    transition: transform 0.1s, background-color 0.4s;

}

.main-block .calcul .material-icons.md-48{

    font-size: 100px;
    
    color: green;

    transition: transform 0.1s, color 0.4s;

}

.main-block .calcul:hover{

    background-color: green;

    transition: transform 0.1s, background-color 0.6s;

}

.main-block .calcul:hover .material-icons.md-48{

    color: #fff;

    transition: transform 0.1s, color 1s;

}

/* NEXT */

.main-block .other{

    border: solid 1px green;
    background-color: #fff;

    transition: transform 0.1s, background-color 0.4s;

}

.main-block .other .material-icons.md-48{

    font-size: 100px;
    
    color: green;

    transition: transform 0.1s, color 0.4s;

}

.main-block .other:hover{

    background-color: green;

    transition: transform 0.1s, background-color 0.6s;

}

.main-block .other:hover .material-icons.md-48{

    color: #fff;

    transition: transform 0.1s, color 1s;

}