<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in list %}
        <tr>
            <td>{{ i.datetime }}</td>
            <td>{{ i.t1h }}</td>
            <td>{{ i.rn1 }}</td>
            <td>{{ i.reh }}</td>
            <td>{{ i.pty }}</td>
            <td>{{ i.vec }}</td>
            <td>{{ i.wsd }}</td>
            <td>{{ i.uuu }}</td>
            <td>{{ i.vvv }}</td>
        </tr>
        {% endfor %}
</body>
</html>